out
dist
node_modules
.vscode-test/
*.vsix
features.txt
prompts.txt
repomix-logo.svg
.repomixignore
.repomix
.DS_Store
.cursor
CLAUDE.md

# Rust
rust/target/
Cargo.lock
**/*.rs.bk
*.pdb
*.exe
*.dll
*.so
*.dylib
*.d
*.rlib
repomix-output.xml
bin/
assets/bin/*.exe
assets/bin/
