.vscode/**
.vscode-test/**
node_modules/
assets/create-bundle.mp4
assets/run-on-selection.mp4
src/
out/
.repomix
.repomixignore
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
features.txt
prompts.txt
repomix-logo.svg
tsconfig.json
esbuild.js
README.build.md
.eslintrc.json
.prettierrc
.github
.cursorignore
.cursor/
rust/target/
rust/**/*.o
rust/**/*.rs.bk
Cargo.lock
scripts/
*.vsix
!assets/bin/
!assets/bin/*.exe
repomix-output.xml