.vscode/**
.vscode-test/**
node_modules/
assets/repomix-demo.mp4
src/
out/
.repomix
.repomixignore
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
features.txt
prompts.txt
repomix-logo.svg
tsconfig.json
esbuild.js
README.build.md
.eslintrc.json
.prettierrc
.github
