.vscode/**
.vscode-test/**
assets/repomix-demo.mp4
src/test
out/test
.repomix
.repomixignore
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
features.txt
prompts.txt
repomix-logo.svg